<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edu-Resources | Sign In</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css_and_js/signup.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css_and_js/style.css') }}">
</head>

<body>
    <div class="msg_wrapper">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for msg in messages %}
        <div id="notify" class="notify">
            <p style="margin: 0;">{{ msg }}</p>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>

    <div class="form-container">
        <h2>Welcome Back</h2>
        <form action="/login" method="POST">
            <div class="input-group">
                <input type="text" id="username" name="username" placeholder="Username" required autocomplete="off">
            </div>

            <div class="input-group">
                <input type="password" id="password" name="password" placeholder="Password" required>
            </div>

            <button type="submit">Sign In</button>
        </form>
        <p class="footer-text">Don't have an account? <a href="{{ url_for('signup') }}">Create one here</a></p>

        <script src="{{ url_for('static', filename='css_and_js/notify.js') }}"></script>
    </div>
</body>

</html>