<!DOCTYPE html>
<html lang="en">

<head>

    <script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "xrfoioai95");
</script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edu-Resources | Sign In</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css_and_js/signup.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css_and_js/style.css') }}">
</head>

<body>
    <div class="msg_wrapper">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for msg in messages %}
        <div id="notify" class="notify">
            <p style="margin: 0;">{{ msg }}</p>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>

    <div class="form-container">
        <h2>Welcome Back</h2>
        <form action="/login" method="POST">
            <div class="input-group">
                <input type="text" id="username" name="username" placeholder="Username" required autocomplete="off">
            </div>

            <div class="input-group">
                <input type="password" id="password" name="password" placeholder="Password" required>
            </div>

            <button type="submit">Sign In</button>
        </form>
        <p class="footer-text">Don't have an account? <a href="{{ url_for('signup') }}">Create one here</a></p>

        <script src="{{ url_for('static', filename='css_and_js/notify.js') }}"></script>
    </div>
</body>

</html>